<nav class="p-4 rounded-lg bg-white shadow-lg underline space-x-4 max-w-screen-lg w-full">
  <%= render partial: "shared/nav_left" %>
  <div class="float-right">
    <%= render partial: "shared/nav_right" %>
  </div>
</nav>