<div class="flex flex-col sm:flex-row grow max-h-screen">
  <div id="playspace" class="grow basis-4/5 sm:basis-auto bg-gray-200 h-full">
    <h1 id="title" class="text-2xl p-2 select-none">Craftology</h1>
    <% if current_user.present? %>
      <span class="absolute bottom-4 left-4 select-none text-gray-600">
        Signed in as <%= current_user.name %>
        -
        <%= button_to "Sign Out", destroy_user_session_path, method: :delete, form_class: "inline", class: "underline" %>
      </span>
    <% end %>
  </div>
  <div id="trash" class="relative flex flex-col justify-between grow sm:grow-0 sm:basis-80 p-2">
    <div class="overflow-auto">
      <div id="inventory" class="flex sm:flex-row flex-wrap items-start justify-start gap-2">
      </div>
    </div>
    <div class="p-2">
      <input id="search" type="text" class="w-full rounded" placeholder="Filter elements">
    </div>
  </div>
</div>

<script type="module">
  import {Craftology} from "/scripts/game.js"
  let playspace = document.getElementById("playspace")
  let inventory = document.getElementById("inventory")
  let search = document.getElementById("search")
  let trash = document.getElementById("trash")
  let elements = <%== Element.default_list %>

  let game = new Craftology({playspace: playspace, library: inventory, trash: trash, elements: elements, search: search})
</script>
