<div
  class="rounded-lg border border-amber-600 bg-white text-nowrap whitespace-nowrap overflow-clip"
  title="<%= badge.description %>"
  >
  <div class="p-2 bg-white">
    <span class="font-emoji"><%= badge.icon %></span>
    <span><%= badge.name %></span>
  </div>
</div>
